In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt         
%matplotlib inline

data_sp = pd.read_pickle("C:/Users/Carap/OneDrive/Escritorio/Proyecto/datasets/data componentes SP500.pkl")

In [6]:
data_sp_copy = data_sp

In [7]:
data_sp_copy.head(10)

           0111145D UN Equity                                            \
                         open    high     low   close    volume bid ask
date
1989-12-27             44.750  45.750  44.750  45.000  264800.0 NaN NaN
1989-12-28             45.250  45.500  45.000  45.125   12100.0 NaN NaN
1989-12-29             45.375  46.000  45.125  46.000   21100.0 NaN NaN
1989-12-30                NaN     NaN     NaN     NaN       NaN NaN NaN
1989-12-31                NaN     NaN     NaN     NaN       NaN NaN NaN
1990-01-01                NaN     NaN     NaN     NaN       NaN NaN NaN
1990-01-02             46.500  47.000  46.125  46.875   59400.0 NaN NaN
1990-01-03             46.375  46.500  46.125  46.500   89200.0 NaN NaN
1990-01-04             46.000  46.500  45.000  45.250  114200.0 NaN NaN
1990-01-05             45.000  45.125  44.625  44.750   69800.0 NaN NaN

                                          ...  ZTS UN Equity                  \
           open_int cur_mkt_cap pe_ratio  ... return_com_eqy return_on_asset
date                                      ...
1989-12-27      NaN   1333.8135      NaN  ...            NaN             NaN
1989-12-28      NaN   1337.5186      NaN  ...            NaN             NaN
1989-12-29      NaN   1363.4538      NaN  ...            NaN             NaN
1989-12-30      NaN         NaN      NaN  ...            NaN             NaN
1989-12-31      NaN         NaN      NaN  ...            NaN             NaN
1990-01-01      NaN         NaN      NaN  ...            NaN             NaN
1990-01-02      NaN   1389.3891      NaN  ...            NaN             NaN
1990-01-03      NaN   1378.2740      NaN  ...            NaN             NaN
1990-01-04      NaN   1341.2236      NaN  ...            NaN             NaN
1990-01-05      NaN   1326.4035      NaN  ...            NaN             NaN

                                                                              \
           return_on_cap return_on_inv_capital return_tot_eqy sales_rev_turn
date
1989-12-27           NaN                   NaN            NaN            NaN
1989-12-28           NaN                   NaN            NaN            NaN
1989-12-29           NaN                   NaN            NaN            NaN
1989-12-30           NaN                   NaN            NaN            NaN
1989-12-31           NaN                   NaN            NaN            NaN
1990-01-01           NaN                   NaN            NaN            NaN
1990-01-02           NaN                   NaN            NaN            NaN
1990-01-03           NaN                   NaN            NaN            NaN
1990-01-04           NaN                   NaN            NaN            NaN
1990-01-05           NaN                   NaN            NaN            NaN


           short_and_long_term_debt tot_debt_to_tot_asset total_equity volume
date
1989-12-27                      NaN                   NaN          NaN    NaN
1989-12-28                      NaN                   NaN          NaN    NaN
1989-12-29                      NaN                   NaN          NaN    NaN
1989-12-30                      NaN                   NaN          NaN    NaN
1989-12-31                      NaN                   NaN          NaN    NaN
1990-01-01                      NaN                   NaN          NaN    NaN
1990-01-02                      NaN                   NaN          NaN    NaN
1990-01-03                      NaN                   NaN          NaN    NaN
1990-01-04                      NaN                   NaN          NaN    NaN
1990-01-05                      NaN                   NaN          NaN    NaN

[10 rows x 31306 columns]

In [8]:
data_sp_copy.shape

(9010, 31306)

In [9]:
# Filtrar datos a los últimos x años
start_date  =  '2015-01-01'
data_sp['date'] = data_sp_copy.index
data_sp_copy.reset_index(drop=True)

     0111145D UN Equity                                                     \
                   open    high     low   close    volume bid ask open_int
0                44.750  45.750  44.750  45.000  264800.0 NaN NaN      NaN
1                45.250  45.500  45.000  45.125   12100.0 NaN NaN      NaN
2                45.375  46.000  45.125  46.000   21100.0 NaN NaN      NaN
3                   NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
4                   NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
5                   NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
6                46.500  47.000  46.125  46.875   59400.0 NaN NaN      NaN
7                46.375  46.500  46.125  46.500   89200.0 NaN NaN      NaN
8                46.000  46.500  45.000  45.250  114200.0 NaN NaN      NaN
9                45.000  45.125  44.625  44.750   69800.0 NaN NaN      NaN
10               44.625  44.750  43.875  44.000  118100.0 NaN NaN      NaN
11               44.250  44.250  43.750  43.750   58600.0 NaN NaN      NaN
12               43.625  43.875  43.625  43.750   85900.0 NaN NaN      NaN
13               44.000  44.500  43.375  43.375   64000.0 NaN NaN      NaN
14               42.875  43.000  42.000  42.250  112800.0 NaN NaN      NaN
15               42.125  42.125  41.875  41.875   16700.0 NaN NaN      NaN
16               41.875  42.000  41.500  41.875   40600.0 NaN NaN      NaN
17               42.000  42.125  41.500  41.750   19900.0 NaN NaN      NaN
18               41.500  41.875  41.250  41.625   39800.0 NaN NaN      NaN
19               41.875  42.000  41.250  41.250   33500.0 NaN NaN      NaN
20               41.250  41.375  39.500  39.500   52700.0 NaN NaN      NaN
21               39.625  40.125  39.500  40.000   34300.0 NaN NaN      NaN
22               39.500  40.125  39.125  39.625   30300.0 NaN NaN      NaN
23               39.875  40.250  39.625  39.625   45600.0 NaN NaN      NaN
24               39.750  40.375  39.750  40.375   42000.0 NaN NaN      NaN
25                  NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
26                  NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
27               40.625  40.625  40.125  40.375   22800.0 NaN NaN      NaN
28               40.625  40.625  40.125  40.250   35100.0 NaN NaN      NaN
29               40.625  41.375  40.625  41.375   24600.0 NaN NaN      NaN
...                 ...     ...     ...     ...       ...  ..  ..      ...
8980                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8981                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8982                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8983                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8984                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8985                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8986                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8987                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8988                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8989                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8990                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8991                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8992                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8993                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8994                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8995                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8996                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8997                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8998                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8999                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9000                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9001                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9002                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9003                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9004                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9005                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9006                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9007                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9008                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9009                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN

                           ...   ZTS UN Equity                \
     cur_mkt_cap pe_ratio  ... return_on_asset return_on_cap
0      1333.8135      NaN  ...             NaN           NaN
1      1337.5186      NaN  ...             NaN           NaN
2      1363.4538      NaN  ...             NaN           NaN
3            NaN      NaN  ...             NaN           NaN
4            NaN      NaN  ...             NaN           NaN
5            NaN      NaN  ...             NaN           NaN
6      1389.3891      NaN  ...             NaN           NaN
7      1378.2740      NaN  ...             NaN           NaN
8      1341.2236      NaN  ...             NaN           NaN
9      1326.4035      NaN  ...             NaN           NaN
10     1304.1732      NaN  ...             NaN           NaN
11     1296.7632      NaN  ...             NaN           NaN
12     1296.7632      NaN  ...             NaN           NaN
13     1285.6480      NaN  ...             NaN           NaN
14     1252.3027      NaN  ...             NaN           NaN
15     1241.1876      NaN  ...             NaN           NaN
16     1241.1876      NaN  ...             NaN           NaN
17     1237.4826      NaN  ...             NaN           NaN
18     1233.7775      NaN  ...             NaN           NaN
19     1222.6624      NaN  ...             NaN           NaN
20     1170.7919      NaN  ...             NaN           NaN
21     1185.6120      NaN  ...             NaN           NaN
22     1174.4969      NaN  ...             NaN           NaN
23     1174.4969      NaN  ...             NaN           NaN
24     1196.7271      NaN  ...             NaN           NaN
25           NaN      NaN  ...             NaN           NaN
26           NaN      NaN  ...             NaN           NaN
27     1196.7271      NaN  ...             NaN           NaN
28     1193.0221      NaN  ...             NaN           NaN
29     1226.3674      NaN  ...             NaN           NaN
...          ...      ...  ...             ...           ...
8980         NaN      NaN  ...         14.0385       19.4913
8981         NaN      NaN  ...         14.0385       19.4913
8982         NaN      NaN  ...         14.0385       19.4913
8983         NaN      NaN  ...         14.0385       19.4913
8984         NaN      NaN  ...         14.0385       19.4913
8985         NaN      NaN  ...         14.0385       19.4913
8986         NaN      NaN  ...         14.0385       19.4913
8987         NaN      NaN  ...         14.0385       19.4913
8988         NaN      NaN  ...         14.0385       19.4913
8989         NaN      NaN  ...         14.0385       19.4913
8990         NaN      NaN  ...         14.0385       19.4913
8991         NaN      NaN  ...         14.0385       19.4913
8992         NaN      NaN  ...         14.0385       19.4913
8993         NaN      NaN  ...         14.0385       19.4913
8994         NaN      NaN  ...         14.0385       19.4913
8995         NaN      NaN  ...         14.0385       19.4913
8996         NaN      NaN  ...         14.0385       19.4913
8997         NaN      NaN  ...         14.0385       19.4913
8998         NaN      NaN  ...         14.0385       19.4913
8999         NaN      NaN  ...         14.0385       19.4913
9000         NaN      NaN  ...         14.0385       19.4913
9001         NaN      NaN  ...         14.0385       19.4913
9002         NaN      NaN  ...         14.0385       19.4913
9003         NaN      NaN  ...         14.0385       19.4913
9004         NaN      NaN  ...         14.0385       19.4913
9005         NaN      NaN  ...         14.0385       19.4913
9006         NaN      NaN  ...         14.0385       19.4913
9007         NaN      NaN  ...         14.0385       19.4913
9008         NaN      NaN  ...         14.0385       19.4913
9009         NaN      NaN  ...             NaN           NaN

                                                          \
     return_on_inv_capital return_tot_eqy sales_rev_turn
0                      NaN            NaN            NaN
1                      NaN            NaN            NaN
2                      NaN            NaN            NaN
3                      NaN            NaN            NaN
4                      NaN            NaN            NaN
5                      NaN            NaN            NaN
6                      NaN            NaN            NaN
7                      NaN            NaN            NaN
8                      NaN            NaN            NaN
9                      NaN            NaN            NaN
10                     NaN            NaN            NaN
11                     NaN            NaN            NaN
12                     NaN            NaN            NaN
13                     NaN            NaN            NaN
14                     NaN            NaN            NaN
15                     NaN            NaN            NaN
16                     NaN            NaN            NaN
17                     NaN            NaN            NaN
18                     NaN            NaN            NaN
19                     NaN            NaN            NaN
20                     NaN            NaN            NaN
21                     NaN            NaN            NaN
22                     NaN            NaN            NaN
23                     NaN            NaN            NaN
24                     NaN            NaN            NaN
25                     NaN            NaN            NaN
26                     NaN            NaN            NaN
27                     NaN            NaN            NaN
28                     NaN            NaN            NaN
29                     NaN            NaN            NaN
...                    ...            ...            ...
8980                17.779        62.7711         1547.0
8981                17.779        62.7711         1547.0
8982                17.779        62.7711         1547.0
8983                17.779        62.7711         1547.0
8984                17.779        62.7711         1547.0
8985                17.779        62.7711         1547.0
8986                17.779        62.7711         1547.0
8987                17.779        62.7711         1547.0
8988                17.779        62.7711         1547.0
8989                17.779        62.7711         1547.0
8990                17.779        62.7711         1547.0
8991                17.779        62.7711         1547.0
8992                17.779        62.7711         1547.0
8993                17.779        62.7711         1547.0
8994                17.779        62.7711         1547.0
8995                17.779        62.7711         1547.0
8996                17.779        62.7711         1547.0
8997                17.779        62.7711         1547.0
8998                17.779        62.7711         1547.0
8999                17.779        62.7711         1547.0
9000                17.779        62.7711         1547.0
9001                17.779        62.7711         1547.0
9002                17.779        62.7711         1547.0
9003                17.779        62.7711         1547.0
9004                17.779        62.7711         1547.0
9005                17.779        62.7711         1547.0
9006                17.779        62.7711         1547.0
9007                17.779        62.7711         1547.0
9008                17.779        62.7711         1547.0
9009                   NaN            NaN            NaN

                                                                             \
     short_and_long_term_debt tot_debt_to_tot_asset total_equity     volume
0                         NaN                   NaN          NaN        NaN
1                         NaN                   NaN          NaN        NaN
2                         NaN                   NaN          NaN        NaN
3                         NaN                   NaN          NaN        NaN
4                         NaN                   NaN          NaN        NaN
5                         NaN                   NaN          NaN        NaN
6                         NaN                   NaN          NaN        NaN
7                         NaN                   NaN          NaN        NaN
8                         NaN                   NaN          NaN        NaN
9                         NaN                   NaN          NaN        NaN
10                        NaN                   NaN          NaN        NaN
11                        NaN                   NaN          NaN        NaN
12                        NaN                   NaN          NaN        NaN
13                        NaN                   NaN          NaN        NaN
14                        NaN                   NaN          NaN        NaN
15                        NaN                   NaN          NaN        NaN
16                        NaN                   NaN          NaN        NaN
17                        NaN                   NaN          NaN        NaN
18                        NaN                   NaN          NaN        NaN
19                        NaN                   NaN          NaN        NaN
20                        NaN                   NaN          NaN        NaN
21                        NaN                   NaN          NaN        NaN
22                        NaN                   NaN          NaN        NaN
23                        NaN                   NaN          NaN        NaN
24                        NaN                   NaN          NaN        NaN
25                        NaN                   NaN          NaN        NaN
26                        NaN                   NaN          NaN        NaN
27                        NaN                   NaN          NaN        NaN
28                        NaN                   NaN          NaN        NaN
29                        NaN                   NaN          NaN        NaN
...                       ...                   ...          ...        ...
8980                   6651.0               60.5407       2411.0   621114.0
8981                   6651.0               60.5407       2411.0   359626.0
8982                   6651.0               60.5407       2411.0   470575.0
8983                   6651.0               60.5407       2411.0   567435.0
8984                   6651.0               60.5407       2411.0   534037.0
8985                   6651.0               60.5407       2411.0   502913.0
8986                   6651.0               60.5407       2411.0   483183.0
8987                   6651.0               60.5407       2411.0   340438.0
8988                   6651.0               60.5407       2411.0   601287.0
8989                   6651.0               60.5407       2411.0   631681.0
8990                   6651.0               60.5407       2411.0   729910.0
8991                   6651.0               60.5407       2411.0   546404.0
8992                   6651.0               60.5407       2411.0   797218.0
8993                   6651.0               60.5407       2411.0   871779.0
8994                   6651.0               60.5407       2411.0   151576.0
8995                   6651.0               60.5407       2411.0   367175.0
8996                   6651.0               60.5407       2411.0   459040.0
8997                   6651.0               60.5407       2411.0  1209258.0
8998                   6651.0               60.5407       2411.0   335048.0
8999                   6651.0               60.5407       2411.0   648878.0
9000                   6651.0               60.5407       2411.0   268431.0
9001                   6651.0               60.5407       2411.0   478838.0
9002                   6651.0               60.5407       2411.0    48741.0
9003                   6651.0               60.5407       2411.0   661085.0
9004                   6651.0               60.5407       2411.0   114414.0
9005                   6651.0               60.5407       2411.0   595925.0
9006                   6651.0               60.5407       2411.0   472820.0
9007                   6651.0               60.5407       2411.0   432085.0
9008                   6651.0               60.5407       2411.0   295112.0
9009                      NaN                   NaN          NaN        NaN

           date

0    1989-12-27
1    1989-12-28
2    1989-12-29
3    1989-12-30
4    1989-12-31
5    1990-01-01
6    1990-01-02
7    1990-01-03
8    1990-01-04
9    1990-01-05
10   1990-01-08
11   1990-01-09
12   1990-01-10
13   1990-01-11
14   1990-01-12
15   1990-01-15
16   1990-01-16
17   1990-01-17
18   1990-01-18
19   1990-01-19
20   1990-01-22
21   1990-01-23
22   1990-01-24
23   1990-01-25
24   1990-01-26
25   1990-01-27
26   1990-01-28
27   1990-01-29
28   1990-01-30
29   1990-01-31
...         ...
8980 2019-08-27
8981 2019-08-28
8982 2019-08-29
8983 2019-08-30
8984 2019-09-03
8985 2019-09-04
8986 2019-09-05
8987 2019-09-06
8988 2019-09-09
8989 2019-09-10
8990 2019-09-11
8991 2019-09-12
8992 2019-09-13
8993 2019-09-16
8994 2019-09-17
8995 2019-09-18
8996 2019-09-19
8997 2019-09-20
8998 2019-09-23
8999 2019-09-24
9000 2019-09-25
9001 2019-09-26
9002 2019-09-27
9003 2019-09-30
9004 2019-10-01
9005 2019-10-02
9006 2019-10-03
9007 2019-10-04
9008 2019-10-07
9009 2019-10-08

[9010 rows x 31307 columns]

In [10]:
data_sp_copy['date']=pd.to_datetime(data_sp_copy['date'])
datefilter  =  (data_sp_copy['date']  >  start_date )
data_sp_copy  =  data_sp_copy.loc[datefilter]

In [11]:
data_sp_copy.index = range(data_sp_copy.shape[0])

In [12]:
data_sp_copy['Type']='USA'

C:\Users\Carap\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
company=[]
for i in data_sp_copy.columns:
    company.append(i[0])

In [107]:
company = list(dict.fromkeys(company))

In [108]:
def check(word, list):
    if word in list:
        print("word is in the list!")
    else:
        print("word is not in the list!")
check('date', company)
check('Type', company)

word is in the list!
word is in the list!

In [109]:
removeWord = ['date', 'Type']
company = [word for word in company if word not in removeWord]
check('Type', company)
check('date', company)

word is not in the list!
word is not in the list!

In [136]:
dataframes = []
for i in company:
    dataframes.append(data_sp_copy[i])

In [139]:
j=0
for i in company:
    dataframes[j]['Company'] = i
    j=j+1

C:\Users\Carap\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [185]:
test = dataframes

In [197]:
for n, val in enumerate(test): 
    globals()["dataframe_%d"%n] = val

      announcement_dt     ask     bid  cf_free_cash_flow   close  close_adj  \
0          20150226.0  112.08  112.07             -308.0  112.09        NaN
1                 NaN     NaN     NaN                NaN     NaN        NaN
2          20150226.0  110.08  110.06             -308.0  110.04        NaN
3          20150226.0  109.02  109.01             -308.0  109.01        NaN
4          20150226.0  110.75  110.74             -308.0  110.77        NaN
5          20150226.0  111.75  111.74             -308.0  111.76        NaN
6          20150226.0  110.77  110.75             -308.0  110.75        NaN
7          20150226.0  110.16  110.15             -308.0  110.15        NaN
8          20150226.0  110.83  110.82             -308.0  110.81        NaN
9          20150226.0  111.46  111.45             -308.0  111.46        NaN
10         20150226.0  112.14  112.13             -308.0  112.14        NaN
11         20150226.0  112.95  112.93             -308.0  112.95        NaN
12                NaN     NaN     NaN                NaN     NaN        NaN
13                NaN     NaN     NaN                NaN     NaN        NaN
14         20150226.0  113.68  113.67             -308.0  113.67        NaN
15         20150226.0  114.50  114.49             -308.0  114.50        NaN
16         20150226.0  114.55  114.54             -308.0  114.51        NaN
17         20150226.0  115.08  115.06             -308.0  115.08        NaN
18                NaN     NaN     NaN                NaN     NaN        NaN
19                NaN     NaN     NaN                NaN     NaN        NaN
20         20150226.0  114.53  114.51             -308.0  114.53        NaN
21         20150226.0  114.54  114.53             -308.0  114.54        NaN
22         20150226.0  113.36  113.34             -308.0  113.34        NaN
23         20150226.0  114.98  114.96             -308.0  114.94        NaN
24         20150226.0  111.93  111.92             -308.0  111.92        NaN
25                NaN     NaN     NaN                NaN     NaN        NaN
26                NaN     NaN     NaN                NaN     NaN        NaN
27         20150226.0  113.20  113.18             -308.0  113.18        NaN
28         20150226.0  113.80  113.79             -308.0  113.81        NaN
29         20150226.0  112.04  112.03             -308.0  112.03        NaN
...               ...     ...     ...                ...     ...        ...
1316       20190802.0     NaN     NaN             -115.0  141.43     141.43
1317       20190802.0  142.03  142.00             -115.0  142.00     142.00
1318       20190802.0  142.30  142.25             -115.0  142.24     142.24
1319       20190802.0  141.57  141.53             -115.0  141.63     141.63
1320       20190802.0  143.53  143.52             -115.0  143.50     143.50
1321       20190802.0  144.04  144.01             -115.0  144.00     144.00
1322       20190802.0  141.81  141.80             -115.0  141.83     141.83
1323       20190802.0  142.07  142.02             -115.0  142.00     142.00
1324       20190802.0  141.04  141.01             -115.0  141.01     141.01
1325       20190802.0  141.83  141.79             -115.0  141.77     141.77
1326       20190802.0  143.20  143.19             -115.0  143.26     143.26
1327       20190802.0  143.69  143.66             -115.0  143.66     143.66
1328       20190802.0  141.75  141.74             -115.0  141.70     141.70
1329       20190802.0  141.78  141.75             -115.0  141.75     141.75
1330       20190802.0  142.78  142.54             -115.0  142.64     143.37
1331       20190802.0  140.22  140.18             -115.0  140.20     140.20
1332       20190802.0  140.79  140.76             -115.0  140.81     140.81
1333       20190802.0  142.21  142.18             -115.0  142.22     142.22
1334       20190802.0  141.95  141.91             -115.0  141.87     141.87
1335       20190802.0  144.30  144.25             -115.0  144.24     144.24
1336       20190802.0  143.97  143.96             -115.0  144.01     144.01
1337       20190802.0  144.78  144.76             -115.0  144.73     144.73
1338       20190802.0     NaN     NaN             -115.0  144.48     144.48
1339       20190802.0  147.63  147.59             -115.0  147.61     147.61
1340       20190802.0  146.13  146.08             -115.0  146.08     146.08
1341       20190802.0  143.79  143.76             -115.0  143.73     143.73
1342       20190802.0  145.73  145.69             -115.0  145.66     145.66
1343       20190802.0  147.20  147.19             -115.0  147.23     147.23
1344       20190802.0  146.43  146.40             -115.0  146.43     146.43
1345       20190802.0  145.91  145.83             -115.0  145.91     145.81

      cur_mkt_cap  ebitda  eqy_dvd_yld_ind  eqy_sh_out  ...  return_on_asset  \
0      27598.6032   695.0           2.3553     246.218  ...           3.0191
1             NaN     NaN              NaN         NaN  ...              NaN
2      27093.8558   695.0           2.3991     246.218  ...           3.0191
3      26840.2510   695.0           2.4218     246.218  ...           3.0191
4      27273.5952   695.0           2.3833     246.218  ...           3.0191
5      27517.3512   695.0           2.3622     246.218  ...           3.0191
6      27268.6708   695.0           2.3837     246.218  ...           3.0191
7      27120.9398   695.0           2.3967     246.218  ...           3.0191
8      27283.4439   695.0           2.3825     246.218  ...           3.0191
9      27443.4858   695.0           2.3686     246.218  ...           3.0191
10     27610.9142   695.0           2.3542     246.218  ...           3.0191
11     27810.3509   695.0           2.3373     246.218  ...           3.0191
12            NaN     NaN              NaN         NaN  ...              NaN
13            NaN     NaN              NaN         NaN  ...              NaN
14     27987.6281   695.0           2.3225     246.218  ...           3.0191
15     28191.9892   695.0           2.3057     246.218  ...           3.0191
16     28194.4514   695.0           2.3055     246.218  ...           3.0191
17     28334.7958   695.0           2.2941     246.218  ...           3.0191
18            NaN     NaN              NaN         NaN  ...              NaN
19            NaN     NaN              NaN         NaN  ...              NaN
20     28199.3758   695.0           2.3051     246.218  ...           3.0191
21     28201.8379   695.0           2.3049     246.218  ...           3.0191
22     27906.3761   695.0           2.3293     246.218  ...           3.0191
23     28300.3252   695.0           2.2969     246.218  ...           3.0191
24     27556.7461   695.0           2.3588     246.218  ...           3.0191
25            NaN     NaN              NaN         NaN  ...              NaN
26            NaN     NaN              NaN         NaN  ...              NaN
27     27866.9811   695.0           2.3326     246.218  ...           3.0191
28     28022.0986   695.0           2.3197     246.218  ...           3.0191
29     27583.8302   695.0           2.3565     246.218  ...           3.0191
...           ...     ...              ...         ...  ...              ...
1316   38810.2824   909.0           2.7363     274.413  ...           3.3873
1317   38966.6980   909.0           2.7254     274.413  ...           3.3873
1318   39032.5572   909.0           2.7208     274.413  ...           3.3873
1319   38865.1650   909.0           2.7325     274.413  ...           3.3873
1320   39378.3180   909.0           2.6969     274.413  ...           3.3873
1321   39515.5247   909.0           2.6875     274.413  ...           3.3873
1322   38920.0477   909.0           2.7286     274.413  ...           3.3873
1323   38966.6980   909.0           2.7254     274.413  ...           3.3873
1324   38695.0287   909.0           2.7445     274.413  ...           3.3873
1325   38903.5829   909.0           2.7298     274.413  ...           3.3873
1326   39312.4588   909.0           2.7014     274.413  ...           3.3873
1327   39422.2242   909.0           2.6939     274.413  ...           3.3873
1328   38884.3740   909.0           2.7311     274.413  ...           3.3873
1329   38898.0946   909.0           2.7302     274.413  ...           3.3873
1330   39342.6429   909.0           2.6993     274.413  ...           3.3873
1331   38472.7539   909.0           2.7603     274.413  ...           3.3873
1332   38640.1461   909.0           2.7484     274.413  ...           3.3873
1333   39027.0689   909.0           2.7211     274.413  ...           3.3873
1334   38931.0242   909.0           2.7278     274.413  ...           3.3873
1335   39581.3839   909.0           2.6830     274.413  ...           3.3873
1336   39518.2688   909.0           2.6873     274.413  ...           3.3873
1337   39715.8465   909.0           2.6739     274.413  ...           3.3873
1338   39647.2431   909.0           2.6786     274.413  ...           3.3873
1339   40506.1570   909.0           2.6218     274.413  ...           3.3873
1340   40086.3045   909.0           2.6492     274.413  ...           3.3873
1341   39441.4331   909.0           2.6925     274.413  ...           3.3873
1342   39971.0509   909.0           2.6569     274.413  ...           3.3873
1343   40401.8799   909.0           2.6285     274.413  ...           3.3873
1344   40182.3492   909.0           2.6429     274.413  ...           3.3873
1345   40012.2122   909.0           2.6541     274.413  ...           3.3873

      return_on_cap  return_on_inv_capital  return_tot_eqy  sales_rev_turn  \
0            6.6594                 6.1302         10.3871          2747.0
1               NaN                    NaN             NaN             NaN
2            6.6594                 6.1302         10.3871          2747.0
3            6.6594                 6.1302         10.3871          2747.0
4            6.6594                 6.1302         10.3871          2747.0
5            6.6594                 6.1302         10.3871          2747.0
6            6.6594                 6.1302         10.3871          2747.0
7            6.6594                 6.1302         10.3871          2747.0
8            6.6594                 6.1302         10.3871          2747.0
9            6.6594                 6.1302         10.3871          2747.0
10           6.6594                 6.1302         10.3871          2747.0
11           6.6594                 6.1302         10.3871          2747.0
12              NaN                    NaN             NaN             NaN
13              NaN                    NaN             NaN             NaN
14           6.6594                 6.1302         10.3871          2747.0
15           6.6594                 6.1302         10.3871          2747.0
16           6.6594                 6.1302         10.3871          2747.0
17           6.6594                 6.1302         10.3871          2747.0
18              NaN                    NaN             NaN             NaN
19              NaN                    NaN             NaN             NaN
20           6.6594                 6.1302         10.3871          2747.0
21           6.6594                 6.1302         10.3871          2747.0
22           6.6594                 6.1302         10.3871          2747.0
23           6.6594                 6.1302         10.3871          2747.0
24           6.6594                 6.1302         10.3871          2747.0
25              NaN                    NaN             NaN             NaN
26              NaN                    NaN             NaN             NaN
27           6.6594                 6.1302         10.3871          2747.0
28           6.6594                 6.1302         10.3871          2747.0
29           6.6594                 6.1302         10.3871          2747.0
...             ...                    ...             ...             ...
1316         6.7285                 5.5294         12.4722          2230.0
1317         6.7285                 5.5294         12.4722          2230.0
1318         6.7285                 5.5294         12.4722          2230.0
1319         6.7285                 5.5294         12.4722          2230.0
1320         6.7285                 5.5294         12.4722          2230.0
1321         6.7285                 5.5294         12.4722          2230.0
1322         6.7285                 5.5294         12.4722          2230.0
1323         6.7285                 5.5294         12.4722          2230.0
1324         6.7285                 5.5294         12.4722          2230.0
1325         6.7285                 5.5294         12.4722          2230.0
1326         6.7285                 5.5294         12.4722          2230.0
1327         6.7285                 5.5294         12.4722          2230.0
1328         6.7285                 5.5294         12.4722          2230.0
1329         6.7285                 5.5294         12.4722          2230.0
1330         6.7285                 5.5294         12.4722          2230.0
1331         6.7285                 5.5294         12.4722          2230.0
1332         6.7285                 5.5294         12.4722          2230.0
1333         6.7285                 5.5294         12.4722          2230.0
1334         6.7285                 5.5294         12.4722          2230.0
1335         6.7285                 5.5294         12.4722          2230.0
1336         6.7285                 5.5294         12.4722          2230.0
1337         6.7285                 5.5294         12.4722          2230.0
1338         6.7285                 5.5294         12.4722          2230.0
1339         6.7285                 5.5294         12.4722          2230.0
1340         6.7285                 5.5294         12.4722          2230.0
1341         6.7285                 5.5294         12.4722          2230.0
1342         6.7285                 5.5294         12.4722          2230.0
1343         6.7285                 5.5294         12.4722          2230.0
1344         6.7285                 5.5294         12.4722          2230.0
1345         6.7285                 5.5294         12.4722          2230.0

      short_and_long_term_debt  tot_debt_to_tot_asset  total_equity  \
0                      14369.0                36.1648       12100.0
1                          NaN                    NaN           NaN
2                      14369.0                36.1648       12100.0
3                      14369.0                36.1648       12100.0
4                      14369.0                36.1648       12100.0
5                      14369.0                36.1648       12100.0
6                      14369.0                36.1648       12100.0
7                      14369.0                36.1648       12100.0
8                      14369.0                36.1648       12100.0
9                      14369.0                36.1648       12100.0
10                     14369.0                36.1648       12100.0
11                     14369.0                36.1648       12100.0
12                         NaN                    NaN           NaN
13                         NaN                    NaN           NaN
14                     14369.0                36.1648       12100.0
15                     14369.0                36.1648       12100.0
16                     14369.0                36.1648       12100.0
17                     14369.0                36.1648       12100.0
18                         NaN                    NaN           NaN
19                         NaN                    NaN           NaN
20                     14369.0                36.1648       12100.0
21                     14369.0                36.1648       12100.0
22                     14369.0                36.1648       12100.0
23                     14369.0                36.1648       12100.0
24                     14369.0                36.1648       12100.0
25                         NaN                    NaN           NaN
26                         NaN                    NaN           NaN
27                     14369.0                36.1648       12100.0
28                     14369.0                36.1648       12100.0
29                     14369.0                36.1648       12100.0
...                        ...                    ...           ...
1316                   26249.0                41.8464       19434.0
1317                   26249.0                41.8464       19434.0
1318                   26249.0                41.8464       19434.0
1319                   26249.0                41.8464       19434.0
1320                   26249.0                41.8464       19434.0
1321                   26249.0                41.8464       19434.0
1322                   26249.0                41.8464       19434.0
1323                   26249.0                41.8464       19434.0
1324                   26249.0                41.8464       19434.0
1325                   26249.0                41.8464       19434.0
1326                   26249.0                41.8464       19434.0
1327                   26249.0                41.8464       19434.0
1328                   26249.0                41.8464       19434.0
1329                   26249.0                41.8464       19434.0
1330                   26249.0                41.8464       19434.0
1331                   26249.0                41.8464       19434.0
1332                   26249.0                41.8464       19434.0
1333                   26249.0                41.8464       19434.0
1334                   26249.0                41.8464       19434.0
1335                   26249.0                41.8464       19434.0
1336                   26249.0                41.8464       19434.0
1337                   26249.0                41.8464       19434.0
1338                   26249.0                41.8464       19434.0
1339                   26249.0                41.8464       19434.0
1340                   26249.0                41.8464       19434.0
1341                   26249.0                41.8464       19434.0
1342                   26249.0                41.8464       19434.0
1343                   26249.0                41.8464       19434.0
1344                   26249.0                41.8464       19434.0
1345                   26249.0                41.8464       19434.0

         volume        Company
0      261725.0  SRE UN Equity
1           NaN  SRE UN Equity
2      250057.0  SRE UN Equity
3      343220.0  SRE UN Equity
4      260056.0  SRE UN Equity
5      217089.0  SRE UN Equity
6      202903.0  SRE UN Equity
7      160746.0  SRE UN Equity
8      253941.0  SRE UN Equity
9      185249.0  SRE UN Equity
10     259495.0  SRE UN Equity
11     286230.0  SRE UN Equity
12          NaN  SRE UN Equity
13          NaN  SRE UN Equity
14     214407.0  SRE UN Equity
15     184675.0  SRE UN Equity
16     213173.0  SRE UN Equity
17     176660.0  SRE UN Equity
18          NaN  SRE UN Equity
19          NaN  SRE UN Equity
20     139290.0  SRE UN Equity
21     190432.0  SRE UN Equity
22     232815.0  SRE UN Equity
23     215976.0  SRE UN Equity
24     310934.0  SRE UN Equity
25          NaN  SRE UN Equity
26          NaN  SRE UN Equity
27     216981.0  SRE UN Equity
28     284235.0  SRE UN Equity
29     274848.0  SRE UN Equity
...         ...            ...
1316   616556.0  SRE UN Equity
1317   388896.0  SRE UN Equity
1318   506808.0  SRE UN Equity
1319   400072.0  SRE UN Equity
1320   397155.0  SRE UN Equity
1321   271372.0  SRE UN Equity
1322   412291.0  SRE UN Equity
1323   283204.0  SRE UN Equity
1324   391702.0  SRE UN Equity
1325   423739.0  SRE UN Equity
1326   355419.0  SRE UN Equity
1327   499787.0  SRE UN Equity
1328   454649.0  SRE UN Equity
1329   487855.0  SRE UN Equity
1330    82635.0  SRE UN Equity
1331   665822.0  SRE UN Equity
1332   410311.0  SRE UN Equity
1333  1146993.0  SRE UN Equity
1334   349869.0  SRE UN Equity
1335   383746.0  SRE UN Equity

In [208]:
len(dataframes)

1172