In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt         
%matplotlib inline

data_sp = pd.read_pickle("C:/Users/Carap/OneDrive/Escritorio/Proyecto/datasets/data componentes SP500.pkl")

In [6]:
data_sp_copy = data_sp

In [7]:
data_sp_copy.head(10)

           0111145D UN Equity                                            \
                         open    high     low   close    volume bid ask
date
1989-12-27             44.750  45.750  44.750  45.000  264800.0 NaN NaN
1989-12-28             45.250  45.500  45.000  45.125   12100.0 NaN NaN
1989-12-29             45.375  46.000  45.125  46.000   21100.0 NaN NaN
1989-12-30                NaN     NaN     NaN     NaN       NaN NaN NaN
1989-12-31                NaN     NaN     NaN     NaN       NaN NaN NaN
1990-01-01                NaN     NaN     NaN     NaN       NaN NaN NaN
1990-01-02             46.500  47.000  46.125  46.875   59400.0 NaN NaN
1990-01-03             46.375  46.500  46.125  46.500   89200.0 NaN NaN
1990-01-04             46.000  46.500  45.000  45.250  114200.0 NaN NaN
1990-01-05             45.000  45.125  44.625  44.750   69800.0 NaN NaN

                                          ...  ZTS UN Equity                  \
           open_int cur_mkt_cap pe_ratio  ... return_com_eqy return_on_asset
date                                      ...
1989-12-27      NaN   1333.8135      NaN  ...            NaN             NaN
1989-12-28      NaN   1337.5186      NaN  ...            NaN             NaN
1989-12-29      NaN   1363.4538      NaN  ...            NaN             NaN
1989-12-30      NaN         NaN      NaN  ...            NaN             NaN
1989-12-31      NaN         NaN      NaN  ...            NaN             NaN
1990-01-01      NaN         NaN      NaN  ...            NaN             NaN
1990-01-02      NaN   1389.3891      NaN  ...            NaN             NaN
1990-01-03      NaN   1378.2740      NaN  ...            NaN             NaN
1990-01-04      NaN   1341.2236      NaN  ...            NaN             NaN
1990-01-05      NaN   1326.4035      NaN  ...            NaN             NaN

                                                                              \
           return_on_cap return_on_inv_capital return_tot_eqy sales_rev_turn
date
1989-12-27           NaN                   NaN            NaN            NaN
1989-12-28           NaN                   NaN            NaN            NaN
1989-12-29           NaN                   NaN            NaN            NaN
1989-12-30           NaN                   NaN            NaN            NaN
1989-12-31           NaN                   NaN            NaN            NaN
1990-01-01           NaN                   NaN            NaN            NaN
1990-01-02           NaN                   NaN            NaN            NaN
1990-01-03           NaN                   NaN            NaN            NaN
1990-01-04           NaN                   NaN            NaN            NaN
1990-01-05           NaN                   NaN            NaN            NaN


           short_and_long_term_debt tot_debt_to_tot_asset total_equity volume
date
1989-12-27                      NaN                   NaN          NaN    NaN
1989-12-28                      NaN                   NaN          NaN    NaN
1989-12-29                      NaN                   NaN          NaN    NaN
1989-12-30                      NaN                   NaN          NaN    NaN
1989-12-31                      NaN                   NaN          NaN    NaN
1990-01-01                      NaN                   NaN          NaN    NaN
1990-01-02                      NaN                   NaN          NaN    NaN
1990-01-03                      NaN                   NaN          NaN    NaN
1990-01-04                      NaN                   NaN          NaN    NaN
1990-01-05                      NaN                   NaN          NaN    NaN

[10 rows x 31306 columns]

In [8]:
data_sp_copy.shape

(9010, 31306)

In [9]:
# Filtrar datos a los Ãºltimos x aÃ±os
start_date  =  '2015-01-01'
data_sp['date'] = data_sp_copy.index
data_sp_copy.reset_index(drop=True)

     0111145D UN Equity                                                     \
                   open    high     low   close    volume bid ask open_int
0                44.750  45.750  44.750  45.000  264800.0 NaN NaN      NaN
1                45.250  45.500  45.000  45.125   12100.0 NaN NaN      NaN
2                45.375  46.000  45.125  46.000   21100.0 NaN NaN      NaN
3                   NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
4                   NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
5                   NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
6                46.500  47.000  46.125  46.875   59400.0 NaN NaN      NaN
7                46.375  46.500  46.125  46.500   89200.0 NaN NaN      NaN
8                46.000  46.500  45.000  45.250  114200.0 NaN NaN      NaN
9                45.000  45.125  44.625  44.750   69800.0 NaN NaN      NaN
10               44.625  44.750  43.875  44.000  118100.0 NaN NaN      NaN
11               44.250  44.250  43.750  43.750   58600.0 NaN NaN      NaN
12               43.625  43.875  43.625  43.750   85900.0 NaN NaN      NaN
13               44.000  44.500  43.375  43.375   64000.0 NaN NaN      NaN
14               42.875  43.000  42.000  42.250  112800.0 NaN NaN      NaN
15               42.125  42.125  41.875  41.875   16700.0 NaN NaN      NaN
16               41.875  42.000  41.500  41.875   40600.0 NaN NaN      NaN
17               42.000  42.125  41.500  41.750   19900.0 NaN NaN      NaN
18               41.500  41.875  41.250  41.625   39800.0 NaN NaN      NaN
19               41.875  42.000  41.250  41.250   33500.0 NaN NaN      NaN
20               41.250  41.375  39.500  39.500   52700.0 NaN NaN      NaN
21               39.625  40.125  39.500  40.000   34300.0 NaN NaN      NaN
22               39.500  40.125  39.125  39.625   30300.0 NaN NaN      NaN
23               39.875  40.250  39.625  39.625   45600.0 NaN NaN      NaN
24               39.750  40.375  39.750  40.375   42000.0 NaN NaN      NaN
25                  NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
26                  NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
27               40.625  40.625  40.125  40.375   22800.0 NaN NaN      NaN
28               40.625  40.625  40.125  40.250   35100.0 NaN NaN      NaN
29               40.625  41.375  40.625  41.375   24600.0 NaN NaN      NaN
...                 ...     ...     ...     ...       ...  ..  ..      ...
8980                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8981                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8982                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8983                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8984                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8985                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8986                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8987                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8988                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8989                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8990                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8991                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8992                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8993                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8994                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8995                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8996                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8997                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8998                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
8999                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9000                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9001                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9002                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9003                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9004                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9005                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9006                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9007                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9008                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN
9009                NaN     NaN     NaN     NaN       NaN NaN NaN      NaN

                           ...   ZTS UN Equity                \
     cur_mkt_cap pe_ratio  ... return_on_asset return_on_cap
0      1333.8135      NaN  ...             NaN           NaN
1      1337.5186      NaN  ...             NaN           NaN
2      1363.4538      NaN  ...             NaN           NaN
3            NaN      NaN  ...             NaN           NaN
4            NaN      NaN  ...             NaN           NaN
5            NaN      NaN  ...             NaN           NaN
6      1389.3891      NaN  ...             NaN           NaN
7      1378.2740      NaN  ...             NaN           NaN
8      1341.2236      NaN  ...             NaN           NaN
9      1326.4035      NaN  ...             NaN           NaN
10     1304.1732      NaN  ...             NaN           NaN
11     1296.7632      NaN  ...             NaN           NaN
12     1296.7632      NaN  ...             NaN           NaN
13     1285.6480      NaN  ...             NaN           NaN
14     1252.3027      NaN  ...             NaN           NaN
15     1241.1876      NaN  ...             NaN           NaN
16     1241.1876      NaN  ...             NaN           NaN
17     1237.4826      NaN  ...             NaN           NaN
18     1233.7775      NaN  ...             NaN           NaN
19     1222.6624      NaN  ...             NaN           NaN
20     1170.7919      NaN  ...             NaN           NaN
21     1185.6120      NaN  ...             NaN           NaN
22     1174.4969      NaN  ...             NaN           NaN
23     1174.4969      NaN  ...             NaN           NaN
24     1196.7271      NaN  ...             NaN           NaN
25           NaN      NaN  ...             NaN           NaN
26           NaN      NaN  ...             NaN           NaN
27     1196.7271      NaN  ...             NaN           NaN
28     1193.0221      NaN  ...             NaN           NaN
29     1226.3674      NaN  ...             NaN           NaN
...          ...      ...  ...             ...           ...
8980         NaN      NaN  ...         14.0385       19.4913
8981         NaN      NaN  ...         14.0385       19.4913
8982         NaN      NaN  ...         14.0385       19.4913
8983         NaN      NaN  ...         14.0385       19.4913
8984         NaN      NaN  ...         14.0385       19.4913
8985         NaN      NaN  ...         14.0385       19.4913
8986         NaN      NaN  ...         14.0385       19.4913
8987         NaN      NaN  ...         14.0385       19.4913
8988         NaN      NaN  ...         14.0385       19.4913
8989         NaN      NaN  ...         14.0385       19.4913
8990         NaN      NaN  ...         14.0385       19.4913
8991         NaN      NaN  ...         14.0385       19.4913
8992         NaN      NaN  ...         14.0385       19.4913
8993         NaN      NaN  ...         14.0385       19.4913
8994         NaN      NaN  ...         14.0385       19.4913
8995         NaN      NaN  ...         14.0385       19.4913
8996         NaN      NaN  ...         14.0385       19.4913
8997         NaN      NaN  ...         14.0385       19.4913
8998         NaN      NaN  ...         14.0385       19.4913
8999         NaN      NaN  ...         14.0385       19.4913
9000         NaN      NaN  ...         14.0385       19.4913
9001         NaN      NaN  ...         14.0385       19.4913
9002         NaN      NaN  ...         14.0385       19.4913
9003         NaN      NaN  ...         14.0385       19.4913
9004         NaN      NaN  ...         14.0385       19.4913
9005         NaN      NaN  ...         14.0385       19.4913
9006         NaN      NaN  ...         14.0385       19.4913
9007         NaN      NaN  ...         14.0385       19.4913
9008         NaN      NaN  ...         14.0385       19.4913
9009         NaN      NaN  ...             NaN           NaN

                                                          \
     return_on_inv_capital return_tot_eqy sales_rev_turn
0                      NaN            NaN            NaN
1                      NaN            NaN            NaN
2                      NaN            NaN            NaN
3                      NaN            NaN            NaN
4                      NaN            NaN            NaN
5                      NaN            NaN            NaN
6                      NaN            NaN            NaN
7                      NaN            NaN            NaN
8                      NaN            NaN            NaN
9                      NaN            NaN            NaN
10                     NaN            NaN            NaN
11                     NaN            NaN            NaN
12                     NaN            NaN            NaN
13                     NaN            NaN            NaN
14                     NaN            NaN            NaN
15                     NaN            NaN            NaN
16                     NaN            NaN            NaN
17                     NaN            NaN            NaN
18                     NaN            NaN            NaN
19                     NaN            NaN            NaN
20                     NaN            NaN            NaN
21                     NaN            NaN            NaN
22                     NaN            NaN            NaN
23                     NaN            NaN            NaN
24                     NaN            NaN            NaN
25                     NaN            NaN            NaN
26                     NaN            NaN            NaN
27                     NaN            NaN            NaN
28                     NaN            NaN            NaN
29                     NaN            NaN            NaN
...                    ...            ...            ...
8980                17.779        62.7711         1547.0
8981                17.779        62.7711         1547.0
8982                17.779        62.7711         1547.0
8983                17.779        62.7711         1547.0
8984                17.779        62.7711         1547.0
8985                17.779        62.7711         1547.0
8986                17.779        62.7711         1547.0
8987                17.779        62.7711         1547.0
8988                17.779        62.7711         1547.0
8989                17.779        62.7711         1547.0
8990                17.779        62.7711         1547.0
8991                17.779        62.7711         1547.0
8992                17.779        62.7711         1547.0
8993                17.779        62.7711         1547.0
8994                17.779        62.7711         1547.0
8995                17.779        62.7711         1547.0
8996                17.779        62.7711         1547.0
8997                17.779        62.7711         1547.0
8998                17.779        62.7711         1547.0
8999                17.779        62.7711         1547.0
9000                17.779        62.7711         1547.0
9001                17.779        62.7711         1547.0
9002                17.779        62.7711         1547.0
9003                17.779        62.7711         1547.0
9004                17.779        62.7711         1547.0
9005                17.779        62.7711         1547.0
9006                17.779        62.7711         1547.0
9007                17.779        62.7711         1547.0
9008                17.779        62.7711         1547.0
9009                   NaN            NaN            NaN

                                                                             \
     short_and_long_term_debt tot_debt_to_tot_asset total_equity     volume
0                         NaN                   NaN          NaN        NaN
1                         NaN                   NaN          NaN        NaN
2                         NaN                   NaN          NaN        NaN
3                         NaN                   NaN          NaN        NaN
4                         NaN                   NaN          NaN        NaN
5                         NaN                   NaN          NaN        NaN
6                         NaN                   NaN          NaN        NaN
7                         NaN                   NaN          NaN        NaN
8                         NaN                   NaN          NaN        NaN
9                         NaN                   NaN          NaN        NaN
10                        NaN                   NaN          NaN        NaN
11                        NaN                   NaN          NaN        NaN
12                        NaN                   NaN          NaN        NaN
13                        NaN                   NaN          NaN        NaN
14                        NaN                   NaN          NaN        NaN
15                        NaN                   NaN          NaN        NaN
16                        NaN                   NaN          NaN        NaN
17                        NaN                   NaN          NaN        NaN
18                        NaN                   NaN          NaN        NaN
19                        NaN                   NaN          NaN        NaN
20                        NaN                   NaN          NaN        NaN
21                        NaN                   NaN          NaN        NaN
22                        NaN                   NaN          NaN        NaN
23                        NaN                   NaN          NaN        NaN
24                        NaN                   NaN          NaN        NaN
25                        NaN                   NaN          NaN        NaN
26                        NaN                   NaN          NaN        NaN
27                        NaN                   NaN          NaN        NaN
28                        NaN                   NaN          NaN        NaN
29                        NaN                   NaN          NaN        NaN
...                       ...                   ...          ...        ...
8980                   6651.0               60.5407       2411.0   621114.0
8981                   6651.0               60.5407       2411.0   359626.0
8982                   6651.0               60.5407       2411.0   470575.0
8983                   6651.0               60.5407       2411.0   567435.0
8984                   6651.0               60.5407       2411.0   534037.0
8985                   6651.0               60.5407       2411.0   502913.0
8986                   6651.0               60.5407       2411.0   483183.0
8987                   6651.0               60.5407       2411.0   340438.0
8988                   6651.0               60.5407       2411.0   601287.0
8989                   6651.0               60.5407       2411.0   631681.0
8990                   6651.0               60.5407       2411.0   729910.0
8991                   6651.0               60.5407       2411.0   546404.0
8992                   6651.0               60.5407       2411.0   797218.0
8993                   6651.0               60.5407       2411.0   871779.0
8994                   6651.0               60.5407       2411.0   151576.0
8995                   6651.0               60.5407       2411.0   367175.0
8996                   6651.0               60.5407       2411.0   459040.0
8997                   6651.0               60.5407       2411.0  1209258.0
8998                   6651.0               60.5407       2411.0   335048.0
8999                   6651.0               60.5407       2411.0   648878.0
9000                   6651.0               60.5407       2411.0   268431.0
9001                   6651.0               60.5407       2411.0   478838.0
9002                   6651.0               60.5407       2411.0    48741.0
9003                   6651.0               60.5407       2411.0   661085.0
9004                   6651.0               60.5407       2411.0   114414.0
9005                   6651.0               60.5407       2411.0   595925.0
9006                   6651.0               60.5407       2411.0   472820.0
9007                   6651.0               60.5407       2411.0   432085.0
9008                   6651.0               60.5407       2411.0   295112.0
9009                      NaN                   NaN          NaN        NaN

           date

0    1989-12-27
1    1989-12-28
2    1989-12-29
3    1989-12-30
4    1989-12-31
5    1990-01-01
6    1990-01-02
7    1990-01-03
8    1990-01-04
9    1990-01-05
10   1990-01-08
11   1990-01-09
12   1990-01-10
13   1990-01-11
14   1990-01-12
15   1990-01-15
16   1990-01-16
17   1990-01-17
18   1990-01-18
19   1990-01-19
20   1990-01-22
21   1990-01-23
22   1990-01-24
23   1990-01-25
24   1990-01-26
25   1990-01-27
26   1990-01-28
27   1990-01-29
28   1990-01-30
29   1990-01-31
...         ...
8980 2019-08-27
8981 2019-08-28
8982 2019-08-29
8983 2019-08-30
8984 2019-09-03
8985 2019-09-04
8986 2019-09-05
8987 2019-09-06
8988 2019-09-09
8989 2019-09-10
8990 2019-09-11
8991 2019-09-12
8992 2019-09-13
8993 2019-09-16
8994 2019-09-17
8995 2019-09-18
8996 2019-09-19
8997 2019-09-20
8998 2019-09-23
8999 2019-09-24
9000 2019-09-25
9001 2019-09-26
9002 2019-09-27
9003 2019-09-30
9004 2019-10-01
9005 2019-10-02
9006 2019-10-03
9007 2019-10-04
9008 2019-10-07
9009 2019-10-08

[9010 rows x 31307 columns]

In [10]:
data_sp_copy['date']=pd.to_datetime(data_sp_copy['date'])
datefilter  =  (data_sp_copy['date']  >  start_date )
data_sp_copy  =  data_sp_copy.loc[datefilter]

In [11]:
data_sp_copy.index = range(data_sp_copy.shape[0])

In [12]:
data_sp_copy['Type']='USA'

C:\Users\Carap\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
company=[]
for i in data_sp_copy.columns:
    company.append(i[0])

In [107]:
company = list(dict.fromkeys(company))

In [108]:
def check(word, list):
    if word in list:
        print("word is in the list!")
    else:
        print("word is not in the list!")
check('date', company)
check('Type', company)

word is in the list!
word is in the list!

In [109]:
removeWord = ['date', 'Type']
company = [word for word in company if word not in removeWord]
check('Type', company)
check('date', company)

word is not in the list!
word is not in the list!

In [136]:
dataframes = []
for i in company:
    dataframes.append(data_sp_copy[i])

In [139]:
j=0
for i in company:
    dataframes[j]['Company'] = i
    j=j+1

C:\Users\Carap\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [183]:
#list2env(dataframes ,.GlobalEnv)

NameError: name 'seq' is not defined

1

In [166]:
len(dataframes)

1172